.place__title {
	font-weight: 900;
	font-size: 72px;
	line-height: 1.05;
	margin: 0 0 48px 0;
	width: 50%;
	box-sizing: border-box;
	/*border: 1px red solid;*/
}
@media screen and (max-width: 885px){
	.place__title {
		font-size: 42px;
	}
}
@media screen and (max-width: 320px){
	.place__title {
		width: 100%;
		font-size: 32px;
		margin: 0 0 32px 0;
	}
}