.places{
	max-width: 984px;
	margin: 0 auto;
	/*border: 1px red solid;*/
}
@media screen and (max-width: 1024px){
	.places {
		max-width: 928px;
	}
}
@media screen and (max-width: 950px){
	.places {
		max-width: calc(100% - 48px);
	}
}
@media screen and (max-width: 320px){
	.places {
		max-width: calc(100% - 32px);
	}
}