.header__lang{
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	min-width: 77px;
	margin: 0;
	padding: 0;
	/*border: 1px red solid;*/
}
@media screen and (max-width: 740px){
	.header__lang{
		min-width: 62px;
	}
}