.intro__list{
	list-style: none;
	font-weight: 700;
	font-size: 12px;
	line-height: 1.5;
	padding: 0;
	margin: 0 0 92px;
}
@media screen and (max-width: 1024px){
	.intro__list {
	padding: 0 24px;
	}
}
@media screen and (max-width: 768px){
	.intro__list {
	margin: 0 0 88px;
	}
}
@media screen and (max-width: 338px){
	.intro__list {
	padding: 0 16px;
	font-size: 11px;
	margin: 0 0 64px;
	}
}