.header{
	max-width: 100%;
	margin: 0 auto;
	max-height: 52px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*border: 1px solid red;*/
}
@media screen and (max-width: 1024px) {
	.header {
		max-width: 928px;
		padding: 0;
	}
}
@media screen and (max-width: 768px) {
	.header {
		max-width: 720px;
	}
}
@media screen and (max-width: 740px) {
	.header {
		/*max-height: 42px;*/
	}
}
@media screen and (max-width: 320px) {
	.header {
		max-width: 288px;
	}
}