.place__text {
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
    row-gap: 26px;
}

@media screen and (max-width: 767px) {
    .place__text  {
        padding: 0 16px;
    }
}