.distance_bottom-part{
	margin-bottom: 92px;
}
@media screen and (max-width: 768px) {
	.distance_bottom-part {
		margin-bottom: 88px;
	}
}
@media screen and (max-width: 320px) {
	.distance_bottom-part {
		margin-bottom: 64px;
	}
}