.footer__copyright {
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        padding-top: 48px;
        padding-bottom: 24px;
    }
}