.lead__image{
	width: 100%;
	display: block;
	object-fit: cover;
	position: relative;
	margin: 0 auto;
	margin-bottom: 8px;
	/*border: 1px red solid;*/
}
@media screen and (max-width: 1024px){
	.lead__image {
	max-width: 928px;
	}
}