.lead__image{
	/*width: 100%;*/
	max-width: 984px;
	height: 615px;
	background-image: url(../../../images/lead-polka.jpg);
	background-size: cover;
	position: relative;
	/*border: 1px red solid;*/
}
@media screen and (min-width: 320px){
	.lead__image{
		width: 100%;
		height: 200px;
		
	}
}
@media screen and (min-width: 768px){
	.lead__image{
		width: 100%;
		height: 480px;
		
	}
}
@media screen and (min-width: 1024px){
	.lead__image{
		width: 90%;
		height: 580px;
		margin: 0 auto;
	}
}
@media screen and (min-width: 1280px){
	.lead__image{
		width: 100%;
		height: 615px;
		margin: 0 auto;
	}
}