.content__distance{
	margin-bottom: 92px;
}
@media screen and (max-width: 768px) {
	.content__distance {
		margin-bottom: 88px;
	}
}
@media screen and (max-width: 320px) {
	.content__distance {
		margin-bottom: 64px;
	}
}