.place {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	/*border: 1px rgb(68, 0, 255) solid;*/
	box-sizing: border-box;
}
@media screen and (max-width: 572px){
	.place {
		display: flex;
		flex-direction: column;
	}
}