.places__distance{
	margin-bottom: 80px;
}
.places__distance:last-child{
	margin-bottom: 0;
}

@media screen and (max-width: 768px) {
	.places__distance {
		margin-bottom: 72px;
	}
}
@media screen and (max-width: 320px) {
	.places__distance{
		margin-bottom: 48px;
	}
}